<h3>プロフィール</h3>

<table>
  <tbody>
    <tr>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    </tr>
    <tr>
      <th>名前</th>
      <th class="profile-name"><%= user.name %></th>
    </tr>
    <tr>
      <th>自己紹介</th>
      <th class="profile-introduction"><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <%= link_to  edit_user_path(user.id) do %>
  <p class="btn btn-outline-secondary btn-block fas fa-user-cog "></p>
  <% end %>
</div>
